block head
head
    meta(charset="utf-8")
    title #{title}
    meta(content="" name="author")
    meta(content="" name="description")
    meta(content="" name="keywords")
    meta(content="width=device-width, initial-scale=1" name="viewport")
    meta(content="ie=edge" http-equiv="x-ua-compatible")
    link(rel="apple-touch-icon" sizes="57x57" href="/assets/favicon/apple-icon-57x57.png")
    link(rel="apple-touch-icon" sizes="60x60" href="/assets/favicon/apple-icon-60x60.png")
    link(rel="apple-touch-icon" sizes="72x72" href="/assets/favicon/apple-icon-72x72.png")
    link(rel="apple-touch-icon" sizes="76x76" href="/assets/favicon/apple-icon-76x76.png")
    link(rel="apple-touch-icon" sizes="114x114" href="/assets/favicon/apple-icon-114x114.png")
    link(rel="apple-touch-icon" sizes="120x120" href="/assets/favicon/apple-icon-120x120.png")
    link(rel="apple-touch-icon" sizes="144x144" href="/assets/favicon/apple-icon-144x144.png")
    link(rel="apple-touch-icon" sizes="152x152" href="/assets/favicon/apple-icon-152x152.png")
    link(rel="apple-touch-icon" sizes="180x180" href="/assets/favicon/apple-icon-180x180.png")
    link(rel="icon" type="image/png" sizes="192x192"  href="/assets/favicon/android-icon-192x192.png")
    link(rel="icon" type="image/png" sizes="32x32" href="/assets/favicon/favicon-32x32.png")
    link(rel="icon" type="image/png" sizes="96x96" href="/assets/favicon/favicon-96x96.png")
    link(rel="icon" type="image/png" sizes="16x16" href="/assets/favicon/favicon-16x16.png")
    link(rel="manifest" href="/assets/favicon/manifest.json")
    meta(name="msapplication-TileColor" content="#ffffff")
    meta(name="msapplication-TileImage" content="/assets/favicon/ms-icon-144x144.png")
    meta(name="theme-color" content="#ffffff")
    link(rel="stylesheet" href="/assets/css/foundation.min.css%=version=%")
    link(rel="stylesheet" href="/assets/css/app.min.css%=version=%")